<div id="outPopUp" class="">
    <div class="">
  
        <!--to show error alert-->
        <div *ngIf="errormsg" class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>{{errormsg}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
  
          <!--to show success alert-->
          <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{successmsg}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <br><br>
      <br><br>
        <form  [formGroup]="buyForm" >
          <div  class="col-lg-4 mx-auto" >
            <input type="text" class="form-control" formControlName="name" placeholder="name">
          </div>
          <br>
          <div class="col-lg-4 mx-auto">
            <input type="text" class="form-control" formControlName="email" placeholder="email">
          </div>
          <br>
          <div class="col-lg-4 mx-auto">
            <input type="text" class="form-control"  formControlName="phone_num" placeholder="phone_num">
          </div>
          <br>
          <div class="col-lg-4 mx-auto">
            <input type="text" class="form-control"  formControlName="car_buy" placeholder="car_buy">
          </div>
          <br>
          <div class="col-lg-4 mx-auto">
            <input type="text" class="form-control"  formControlName="payment" placeholder="payment">
          </div>
          <br>
          <div align="center" class="col-lg-15 mt-2" *ngIf="!getparamid" (click)="buySubmit()">
      <button>Submit</button>
          </div>

  
        </form>
  
      </div>
    </div>
  